<mat-card>
  <mat-card-header>
    <ng-container *ngIf="chartUpdateActionsMetaData; else elseTemplate">
      <mat-card-title>
          <span>{{chartUpdateActionsMetaData?.location}}</span>
          <span class="ml-3 mr-3"> | </span>
          <span>{{chartUpdateActionsMetaData?.metricSelectConfig.displayText}}</span>
          <span class="ml-3 mr-3">  |  </span>
          <span>{{chartUpdateActionsMetaData?.startMonthYear.format(dateFormat)}}</span>
          <span class="ml-2 mr-2"> - </span>
          <span>{{chartUpdateActionsMetaData?.endMonthYear.format(dateFormat)}}</span>
      </mat-card-title>
    </ng-container>
    <ng-template #elseTemplate>
      <mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
      </mat-progress-spinner>
    </ng-template>
    <mat-card-actions class="ml-auto m-1">
      <button mat-button mat-raised-button color="primary" (click)="changeChartType()">Change chart type</button>
    </mat-card-actions>
  </mat-card-header>
  <hr />
  <mat-card-content>
    <div class="chart-wrapper d-flex justify-content-center">
      <canvas width="1200" height="800" baseChart [datasets]="barChartData" [labels]="barChartLabels"
        [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" [colors]="colors"></canvas>
    </div>
  </mat-card-content>
</mat-card>
