<mat-card>
  <mat-card-header>
    <mat-card-title>Filters</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="chartUpdateActionsForm">
      <mat-form-field class="col-sm-6 col-lg-3">
        <mat-label>Location</mat-label>
        <mat-select name="location" [formControlName]="chartUpdateActionsFormControlNames.location">
          <mat-option *ngFor="let location of locations" [value]="location">
            {{location}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-lg-3">
        <mat-label>Metric</mat-label>
        <mat-select name="metric" [formControlName]="chartUpdateActionsFormControlNames.metric">
          <mat-option *ngFor="let metric of metrics" [value]="metric.value">
            {{metric.displayText}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-lg-3">
        <input matInput [matDatepicker]="dpStart" [min]="minDateForSelection" [max]="maxDateForSelection"
          placeholder="Start Month and Year" [formControlName]="chartUpdateActionsFormControlNames.startMonthYear">
        <mat-datepicker-toggle matSuffix [for]="dpStart"></mat-datepicker-toggle>
        <mat-datepicker #dpStart startView="multi-year" (yearSelected)="chosenStartYearHandler($event)"
          (monthSelected)="chosenStartMonthHandler($event, dpStart)" panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-lg-3">
        <input matInput [matDatepicker]="dpEnd" [min]="minDateForSelection" [max]="maxDateForSelection"
          placeholder="End Month and Year" [formControlName]="chartUpdateActionsFormControlNames.endMonthYear">
        <mat-datepicker-toggle matSuffix [for]="dpEnd"></mat-datepicker-toggle>
        <mat-datepicker #dpEnd startView="multi-year" (yearSelected)="chosenEndYearHandler($event)"
          (monthSelected)="chosenEndMonthHandler($event, dpEnd)" panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      <mat-error *ngIf="!isStartAndEndDateValid">
        Start date must be less than end date
      </mat-error>
    </form>
  </mat-card-content>
</mat-card>
